El cálculo infinitesimal o cálculo de infinitesimales  constituye  una  parte  muy importante de las matemáticas  modernas.
Es normal,  simplemente llamarlo cálculo.  El cálculo, como algoritmo  desarrollado en el campo de la matemática, incluye 
el estudio de los  límites, derivadas, integrales y  series infinitas.  Concretamente,  el cálculo infinitesimal es el 
estudio del cambio, en la misma  manera que la geometría es el estudio del espacio.

El cálculo infinitesimal tiene amplias aplicaciones en la ciencia y la ingeniería y se usa para resolver problemas para
los cuales el álgebra por sí sola es insuficiente. Este cálculo se construye con base en el álgebra, la trigonometría
y la geometría  analítica  e  incluye   dos  campos  principales,   cálculo  diferencial  y  cálculo integral, que están
relacionados  por  el  teorema  fundamental  del  cálculo. En  matemática  más  avanzada, el cálculo es  usualmente llamado
análisis  y  está  definido   como  el  estudio de  las funciones.  Generalmente,  el  Cálculo puede referirse a cualquier
 método o sistema  de cuantificación guiado por la manipulación simbólica de las  expresiones